{
  "env": {
    "development": {
      "presets": ["@babel/env"],
      "plugins": [
        "@babel/plugin-syntax-object-rest-spread",
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-transform-runtime"
      ],
    },
    "default": {
      "presets": ["@babel/env"],
      "plugins": [
        "@babel/plugin-syntax-object-rest-spread",
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-transform-runtime"
      ],
    },
    "noshim": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-syntax-object-rest-spread",
        "@babel/plugin-transform-async-to-generator"
      ]
    },
    "firefox": {
      "plugins": [
        "@babel/transform-modules-commonjs",
        "@babel/plugin-syntax-object-rest-spread"
      ]
    }
  }
}
