language:
- node_js
- python
node_js:
- "6"
python:
- "3.5"
env:
- SERVER=4.3.0 ACTION=test
- SERVER=development ACTION=test
- ACTION="run lint"
- ACTION="run dist"       # ensures building dist files doesn't break
- ACTION="run build-demo" # ensures building the demo doesn't break
before_install:
- export PATH=$HOME/.local/bin:$PATH
- pip install --user `whoami` virtualenv
- virtualenv .env

- if [[ $SERVER && $SERVER != development ]]; then curl https://raw.githubusercontent.com/Kinto/kinto/$SERVER/requirements.txt -O; fi
- if [[ $SERVER && $SERVER == development ]]; then curl https://raw.githubusercontent.com/Kinto/kinto/master/requirements.txt -O; fi

- if [[ $SERVER && $SERVER != development ]]; then .env/bin/pip install kinto==$SERVER --constraint requirements.txt ; fi
- if [[ $SERVER && $SERVER == development ]]; then .env/bin/pip install https://github.com/Kinto/kinto/zipball/master --constraint requirements.txt; fi
- export KINTO_PSERVE_EXECUTABLE=.env/bin/pserve
script:
- npm $ACTION
after_script:
- npm run report-coverage
