language:
- node_js
- python
node_js:
- "0.12"
python:
- "2.7"
before_install:
- export PATH=$HOME/.local/bin:$PATH
- pip install --user `whoami` virtualenv
- virtualenv .env
- .env/bin/pip install kinto==1.6.2
- export KINTO_PSERVE_EXECUTABLE=.env/bin/pserve
env:
- ACTION=test
- ACTION="run lint"
script:
- npm $ACTION
after_script:
- npm run report-coverage
