language: python
python:
 - "3.6"
env:
  - SERVER=6.0.4 ACTION=test
  - SERVER=master ACTION=test
  - ACTION="run lint"
  - ACTION="run dist"       # ensures building dist files doesn't break
  - ACTION="run build-demo" # ensures building the demo doesn't break
  - ACTION="run cs-check"
before_install:
  - wget https://raw.githubusercontent.com/creationix/nvm/v0.33.0/nvm.sh -O ~/.nvm/nvm.sh
  - source ~/.nvm/nvm.sh
  - nvm install 10 # for Node v10
  - node --version
  - npm install
  - curl https://raw.githubusercontent.com/Kinto/kinto/master/requirements.txt > versions.txt
  - if [[ $SERVER && $SERVER != master ]]; then pip install kinto==$SERVER --constraint versions.txt ; fi
  - if [[ $SERVER && $SERVER != master ]]; then pip install requests==2.12.5 pyramid==1.8.2 pyramid-tm==1.1.1 ; fi
  - if [[ $SERVER && $SERVER == master ]]; then pip install https://github.com/Kinto/kinto/zipball/master --constraint versions.txt; fi
  - export KINTO_PSERVE_EXECUTABLE=pserve
script:
  - npm $ACTION
after_script:
  - npm run report-coverage
