on:
  push:
    branches:
      - master
  pull_request:

name: Browser Tests
jobs:
  chore:
    name: Browser Tests
    runs-on: ubuntu-latest

    steps:
      # Disabling IPv6 is necessary since Selenium doesn't listen on the IPv6
      # interface, but node versions >16 resolve `localhost` to the IPv6
      # loopback address (::1) by default.
      - name: Disable IPv6
        run: sudo sysctl -w net.ipv6.conf.lo.disable_ipv6=1

      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Print environment
        run: |
          node --version
          npm --version
          python --version
          pip --version

      - name: Install Node dependencies
        run: npm ci

      - name: Install Python dependencies
        run: pip install "kinto==19.6.0" "kinto-attachment==6.4.0"

      - name: Run tests
        run: npm run test:browser
