on:
  push:
    branches:
      - master
  pull_request:

name: CI
jobs:
  chore:
    name: Windows Integration Tests
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Print environment
        run: |
          node --version
          npm --version
          python --version
          pip --version

      - name: Install Node dependencies
        run: npm ci

      - name: Install Python dependencies
        run: pip install "kinto==19.6.0" "kinto-attachment==6.4.0"

      - name: Run tests
        run: npm test
